body {
  background-image: url(https://images.pexels.com/photos/1118873/pexels-photo-1118873.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-repeat: no-repeat;
  background-size: cover;
}

#main {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* background-color:white ;
  height: 10%;
  width: 50%; */
}

.name {
  color: aqua;
  font-size: 50px;
  margin-bottom: 40px;
}

.set {
  color: white;
  font-size: 40px;
}

.temp {
  font-size: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
}

.state {
  font-size: 25px;
  color: white;
}

.last {
  font-size: 25px;
  color: white;
}
